[Unit]
Description=ndm-server
#Wants=network.target
After=networking.service

[Service]
ExecStart=/usr/sbin/ndm-server
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=forking
PIDFile=/run/ndm-server.pid
User=root
WorkingDirectory=/var/lib/ndm-server
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ndm-server

[Install]
WantedBy=multi-user.target
