[Unit]
Description=ndm-server
#Documentation=man:ndm-server
Wants=network.target
#After=
#ConditionPathExists=!/etc/ndm-server
#DefaultInstance=

[Service]
#EnvironmentFile=
#ExecStartPre=
ExecStart=/usr/sbin/ndm-server
ExecReload=/bin/kill -s SIGHUP $MAINPID
ExecStop=/bin/kill -s SIGTERM $MAINPID
KillMode=process
Restart=always
#Restart=on-failure
RestartPreventExitStatus=255
Type=notify
#RuntimeDirectory=ndm-server
#RuntimeDirectoryMode=0755
User=root
WorkingDirectory=/var/lib/ndm-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ndm-server

[Install]
WantedBy=multi-user.target
#Alias=ndm-server.service
#WantedBy=
#RequiredBy=
#Also=
#Alias=
